/* IMPORTO FONT ---------------------------*/
@import '~@fortawesome/fontawesome-free/css/all.min.css';


/* IMPORTO FILE CON VARIABILI -------------*/
@import './vars.scss';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    color: white;
}

    /* common---------------------------------------- */
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: white;
    }

    i {
        color: white;
        padding: 10px;
    }

    h4 {
        color: white;
        padding: 5px;
    }

    .padding {
        padding: 5px;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 30px;
    }

    /* input ---------------------------------------- */
    .width-input {
        width: 200px;
        padding: 10px 0;
        border-radius: 5px;
        background-color: $gray-nurse;
        border: 3px solid $gray-nurse;
    }

    .x-width-input {
        width: 400px;
        padding: 50px 0;
        border-radius: 5px;
        background-color: $gray-nurse;
        border: 3px solid $gray-nurse;
    }
    
    /* Dimensione ---------------------------------------- */
    .height-small {
        height: 60vh;
        position: relative;
    }

    .height-medium-little {
        height: 80vh;
    }

    .height-medium {
        height: 90vh;
    }

    .height-large {
        height: 100vh;
    }

    /* Posizionamento ---------------------------------------- */
    .horizontal-space {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .li-horizontal {
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        left: 8%;
    }

    .li-vertical {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .section-left {
        position: relative;
        display: flex;
        justify-content: flex-start;
        // text-align: center;
    }

    .section-right {
        //position: relative;
        display: flex;
        justify-content: flex-end;
    }

    .li-right {
        position: absolute;
        right: 22%;
        bottom: 55%;
    }

    .li-right-button {
        position: absolute;
        right: 22%;
        bottom: 70%;
    }

    .li-left {
        display: flex;
        //text-align: center;
    }

    .li-contacts {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .li-button{
       width: 50%;
       display: flex;
       justify-content: space-around;
       text-align: center; 
    }

    .paragrafo {
        width: 80%;
    }

    /* Box---------------------------------------- */
    .box-button {
        display: flex;
        justify-content: center;
    }

    .container-cards {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .container-section {
        display: flex;
        justify-content: center;
    }

    .box-section {
        display: flex;
        justify-content: flex-start;
        width: 60%;
    }

    .box-cards {
        display: flex;
        justify-content: space-around;
        width: 60%;
        //padding: 10px;
    }

    .card {
        width: 250px;
        height: 250px;
        background-color: $shark;
        border-radius: 10px;
        text-align: center;
    }

    /* Title---------------------------------------- */
    .little-title {
        color: $fountain-blue;

    }

    .title {
        font-size: 40px;
    }

    /* Button Palette---------------------------------------- */
    .greenButton {
        padding: 10px;
        background-color: $surfie-green;
        border: 3px solid $surfie-green;
        color: white;
        border-radius: 5px;
        width: 150px;
    }

    .darkGreenButton {
        padding: 10px;
        background-color: $blue-lagoon;
        border: 3px solid $blue-lagoon;
        color: white;
        border-radius: 5px;
        width: 100px;
    }

    .transparentButton {
        padding: 10px;
        background-color: transparent;
        border: 3px solid $surfie-green;
        color: white;
        border-radius: 5px;
        width: 150px;
    }

    /* Colors Palette---------------------------------------- */
    .greenPalette {
        color: $surfie-green;
    }

    .whitePalette {
        color: white;
    }

    .lightGreenPalette {
       color: $fountain-blue;
    }