/* IMPORTO FONT ---------------------------*/
@import '~@fortawesome/fontawesome-free/css/all.min.css';


/* IMPORTO FILE CON VARIABILI -------------*/
@import './vars.scss';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    color: white;
}

    /* common---------------------------------------- */
    .horizontal-space {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .li-horizontal {
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        left: 8%;
    }

    .li-vertical {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: white;
    }

    i {
        color: white;
        padding: 10px;
    }

    h4 {
        color: white;
        padding: 5px;
    }

    .padding {
        padding: 5px;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
