/* IMPORTO FONT ---------------------------*/
@import '~@fortawesome/fontawesome-free/css/all.min.css';


/* IMPORTO FILE CON VARIABILI -------------*/
@import './vars.scss';


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    color: white;
}

    /* common---------------------------------------- */
    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: white;
    }

    i {
        color: white;
        padding: 10px;
    }

    h4 {
        color: white;
        padding: 5px;
    }

    .padding {
        padding: 5px;
    }

    /* icons ---------------------------------------- */
    .green-icon {
        background-color: $gray-nurse;
        color: $blue-lagoon;
        border-radius: 50px;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 30px;
    }

    /* input ---------------------------------------- */
    .width-input {
        width: 190px;
        padding: 10px 0;
        border-radius: 2px;
        background-color: $gray-nurse;
        border: 3px solid $gray-nurse;
    }

    .width-input-black {
        width: 300px;
        padding: 10px 0;
        border-radius: 5px;
        background-color: $shark;
        border: 3px solid $shark;
        border: 3;
        padding: 10px;
    }

    .x-width-input {
        width: 400px;
        padding: 50px 0;
        border-radius: 5px;
        background-color: $gray-nurse;
        border: 3px solid $gray-nurse;
    }

    .vertical-input {
        //display: flex;
        //align-content: space-around;
        //justify-items: center;
    }
    
    /* Dimensione ---------------------------------------- */
    .height-small {
        height: 60vh;
        position: relative;
    }

    .height-medium-little {
        height: 80vh;
    }

    .height-medium {
        height: 90vh;
    }

    .height-large {
        height: 100vh;
    }

    /* Posizionamento ---------------------------------------- */
    .horizontal-space {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .li-horizontal {
        display: flex;
        align-items: center;
        text-align: center;
        position: relative;
        left: 8%;
    }

    .li-vertical {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .section-left {
        position: relative;
        display: flex;
        justify-content: flex-start;
        // text-align: center;
    }

    .section-right {
        //position: relative;
        display: flex;
        justify-content: flex-end;
    }

    .section-fifth {
        position: relative;
    }

    .li-right {
        position: absolute;
        right: 22%;
        bottom: 55%;
    }

    .li-right-button {
        position: absolute;
        right: 22%;
        bottom: 70%;
    }

    .li-left {
        display: flex;
        //text-align: center;
    }

    .li-contacts {
        display: flex;
        align-items: center;
        text-align: center;
    }

    .li-button{
       width: 50%;
       display: flex;
       justify-content: space-around;
       text-align: center; 
    }

    .li-input {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .paragrafo-third {
        width: 90%;
    }

    .paragrafo-fifth {
        width: 100%;
    }

    /* Box---------------------------------------- */
    .box-button {
        display: flex;
        justify-content: center;
    }

    .container-cards {
        display: flex;
        justify-content: center;
        padding: 10px 0;

    }

    .container-section {
        display: flex;
        justify-content: center;
    }

    .box-section {
        display: flex;
        justify-content: flex-start;
        width: 70%;
    }

    .box-section-sixth {
        display: flex;
        justify-content: flex-start;
        width: 50%;
    }

    .box-section-seventh {
        display: flex;
        justify-content: space-around;
        width: 70%;
    }
    
    .box-cards {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .card {
        width: 300px;
        height: 200px;
        background-color: $shark;
        border-radius: 10px;
        border: 3px solid blue;
        position: relative;
    }

    .box-team {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        //margin: 0 20%;
    }

    .teams {
        width: 150px;
        height: 170px;
        border: 3px solid blue;
        position: relative
        margin 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .box-textButton {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    .box-section-fifth {
        //display: flex;
        //justify-content: center;
        width: 70%;
    }
    /* Title---------------------------------------- */
    .little-title {
        color: $fountain-blue;

    }

    .title {
        font-size: 40px;
    }

    .title-team {
        font-size: 20px;
    }

    .little-title-team {
        font-size: 10px;
        color: gray;
    }
    

    /* Button Palette---------------------------------------- */
    .greenButton {
        padding: 10px;
        background-color: $surfie-green;
        border: 3px solid $surfie-green;
        color: white;
        border-radius: 5px;
        width: 150px;
    }

    .darkGreenButton {
        padding: 10px;
        background-color: $blue-lagoon;
        border: 3px solid $blue-lagoon;
        color: white;
        border-radius: 5px;
        width: 100px;
    }

    .transparentButton {
        padding: 10px;
        background-color: transparent;
        border: 3px solid $surfie-green;
        color: white;
        border-radius: 5px;
        width: 150px;
    }

    /* Colors Palette---------------------------------------- */
    .greenPalette {
        color: $surfie-green;
    }

    .whitePalette {
        color: white;
    }

    .lightGreenPalette {
       color: $fountain-blue;
    }

    /* Img team---------------------------------------- */
    .img-team {
        width: 70%;
        object-fit: contain;
        border-radius: 10px;
        //height: 100%;
    }

    .black_icon {
        color: black;
    }


