/* TYPOGRAPHY ---------------------*/
$main-font: "Montserrat", sans-serif;

/* COLORS -------------------------*/
/* Color cube */
$white: #ffffff;
$wood-smoke: #111117;
$blue-lagoon: #048383;
$abbey: #4e4f52;
$silver-sand: #bcbdbd;
$fountain-blue: #52babb;
$texas-rose : #feac61;
$copper: #ad6a35;

/* Median cut */
$shark: #1d2528;
$gray-nurse: #e7eee9;
$salt-box: #676669;
$tradewind: #60a9ad;
$smalt-blue: #568597;

/* material design */
$cape-palliser: #a36b4c;
$mid-gray: #626165;
$surfie-green: #098081;
$cape-cod: #434747;
$di-serria: #da945c;

